@import "../node_modules/react-datepicker/dist/react-datepicker.css";

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #5a6169 !important;
  background-color: rgb(250, 252, 254);
  font-size: 13px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div.main {
  height: calc(100% - 60px);
  overflow-y: scroll;
}

/* Card */

.card {
  border: none !important;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.05);
  border-radius: 10px !important;
}

.card-header {
  background-color: #fff !important;
  border: none;
}

.card-header:first-child {
  border-radius: 10px;
}

.card-body {
  border-top: 1px solid #dee2e6;
}

/* Card end */

/* Table */

table {
  border: none;
  color: #5a6169 !important;
}

.table td,
.table th {
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
  border-bottom: none !important;
}

.pagination {
  justify-content: center;
}

/* Table end */

/* Form */

div.form-group.col {
  margin: 0;
}

label {
  margin-left: 20px;
  font-weight: 600;
}

input,
input.form-control,
textarea.form-control,
select.form-control {
  padding: 10px 20px;
  border-radius: 20px;
  line-height: 18px;
  font-size: 13px;
  border: 1px solid #ddd;
  margin-bottom: 16px;
  height: auto;
}

.form-check-input {
  margin-bottom: 0;
}
.form-check.form-check-inline > label {
  margin-left: 8px;
  margin-right: 20px;
}

select.form-control {
  height: 40px;
}

button {
  padding: 10px 20px;
  border-radius: 20px;
  line-height: 18px;
  font-size: 12px;
  border: 1px solid #ddd;
  background-color: #fff;
}

button.primary {
  background-color: aquamarine;
}

button.link-style {
  border: 0;
  text-align: left;
}

button.link-style:hover {
  opacity: 0.5;
}

/* Form end */

/* Date picker */

.react-datepicker__input-container input {
  width: 230px;
}

/* Date picker end */

/* Countdown */

.Countdown {
  margin: 10px auto;
  padding-bottom: 20px;
}

.Countdown-col {
  display: inline-block;
}

.Countdown-col-element {
  display: inline-block;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

.Countdown-col-element strong {
  font-size: 50px;
}

.Countdown-col-element span {
  margin-left: 6px;
}

/* Countdown end */
